---
layout: default
html_title: Recursos do Cobre Grátis - Sistema web para gerar e emitir boleto bancário online pela internet.
permalink: recursos/
slug: recursos
---
<div class="header page">
  <h1>Principais Recursos</h1>
  <ul>
    <li><a href="https://app.cobregratis.com.br/accounts/new" class="sexybutton sexysimple sexygreen sexyxxl"><span class="ok">Começar a Usar</span></a></li>
  <li><span class="sexybutton sexysimple sexyblue sexyxl"><span class="phone">0800-887-1544</span></span></li>
  </ul>
</div>
<div id="recursos" class="padding">
  <div id="features">
  	<p><img src="/images/icons/pdf_file.png" alt="" />Download, impressão e anexo em e-mails do boleto em formato PDF.</p>
  	<p><img src="/images/icons/businessman_woman.png" alt="" />Cadastro de clientes para facilitar o gerenciamento das cobranças.</p>
    <p class="last"><img src="/images/icons/money.png" alt=""/>O dinheiro cai direto na sua conta corrente em dois dias úteis.</p>
  	<div class="clear spacer"></div>

    <p><img src="/images/icons/copy_paste.png" alt=""/>Ferramenta de clonagem, para copiar boletos já existentes.</p>
    <p><img src="/images/icons/mail_send.png" alt=""/>Envio de boletos por e-mail direto do sistema, para economizar tempo.</p>
    <p class="last"><img src="/images/icons/male_users.png" alt=""/>Multiusuários para acesso de todos os funcionários da sua empresa.</p>
  	<div class="clear spacer"></div>

    <p><img src="/images/icons/dollar_currency_sign.png" alt=""/>Quitação de boletos em massa, a partir do arquivo de retorno do banco.</p>
    <p><img src="/images/icons/workflow.png" alt=""/>API pública com Web Hooks para integração de sistemas e e-commerce.</p>
    <p class="last"><img src="/images/icons/search.png" alt=""/>Busca avançada, permite achar facilmente qualquer cobrança.</p>
  	<div class="clear spacer"></div>

    <p><img src="/images/icons/add_image.png" alt=""/>Personalização da logomarca do seu produto/serviço no boleto.</p>
    <p><img src="/images/icons/link.png" alt=""/>Link para visualização do boleto on-line e envio para os clientes.</p>
    <p class="last"><img src="/images/icons/folder_full.png" alt=""/>Cadastro de serviços para organizar os boletos e configurar integração.</p>
  	<div class="clear spacer"></div>

    <p><img src="/images/icons/barcode.png" alt=""/>Status por boleto: rascunho, a vencer, quitado e inadimplente.</p>
    <p><img src="/images/icons/zip_file_accept.png" alt=""/>Exportação de todos os dados (boletos, clientes, etc.) a qualquer momento.</p>
    <p class="last"><img src="/images/icons/add_pages.png" alt=""/>Geração de várias parcelas da cobrança de uma só vez.</p>
  	<div class="clear spacer"></div>

    <p><img src="/images/icons/security.png" alt=""/>Total segurança dos dados trafegados e boletos gerados.</p>
    <p><img src="/images/icons/history.png" alt=""/>Criação de assinaturas para cobrança mensal automática.</p>
    <p class="last"><img src="/images/icons/printer.png" alt=""/>Impressão em formato de carnê nas cobranças parceladas.</p>
  	<div class="clear spacer"></div>

    <p><img src="/images/icons/mail_receive.png" alt=""/>Notificação por e-mail caso o boleto não tenha sido marcado como pago.</p>
    <p><img src="/images/icons/calculator.png" alt=""/>Cálculo de juros e multa, descrição automática em cada boleto.</p>
    <p class="last"><img src="/images/icons/support.png" alt=""/>Não sabe como proceder no banco? Nosso suporte irá te ajudar.</p>
  	<div class="clear"></div>
  </div>
  <div id="api">
  	<div class="section_title">
  		<h3>API para Desenvolvedores</h3>
  	</div>
  	<p>Documentação da API: <a href="https://github.com/BielSystems/cobregratis-api" target="_blank">https://github.com/BielSystems/cobregratis-api</a></p>
    <p><a href="http://bielsystems.wufoo.eu/forms/ganhe-dinheiro-integrando-o-cobre-gratis/" target="_blank">Ganhe dinheiro integrando o Cobre Grátis!</a></p>
  	<!-- Syntax Highlighter: http://tohtml.com/ -->
  	<div id="languages" class="tabs-min">
  	  <ul>
        <li class="active"><a href="#api-ruby">Ruby</a></li>
        <li><a href="#api-php">PHP</a></li>
        <li><a href="#api-python">Python</a></li>
        <li><a href="#api-perl">Perl</a></li>
        <li><a href="#api-dotnet">.NET</a></li>
        <li><a href="#api-java">Java</a></li>
      </ul>
    	<div id="api-ruby">
    	  <p>Biblioteca: <a href="https://github.com/rafaelp/cobregratis">https://github.com/rafaelp/cobregratis</a></p>
    	  <p><strong>Exemplo de código:</strong></p>
{% include api_ruby.html %}
    	</div>
    	<div id="api-php">
    	  <p>Biblioteca: <a href="https://github.com/BielSystems/cobregratis-php">https://github.com/BielSystems/cobregratis-php</a></p>
    	  <p><strong>Exemplo de código:</strong></p>
{% include api_php.html %}
    	</div>
      <div id="api-python">
    	  <p>Biblioteca: <a href="https://github.com/BielSystems/cobregratis-python">https://github.com/BielSystems/cobregratis-python</a></p>
    	  <p><strong>Exemplo de código:</strong></p>
{% include api_python.html %}
      </div>
      <div id="api-perl">
    	  <p>Biblioteca: <a href="https://github.com/BielSystems/cobregratis-perl">https://github.com/BielSystems/cobregratis-perl</a></p>
    	  <p><strong>Exemplo de código:</strong></p>
{% include api_perl.html %}
      </div>
      <div id="api-dotnet">
    	  <p>Biblioteca: <a href="https://github.com/FredZvt/cobregratis-dotnet">https://github.com/FredZvt/cobregratis-dotnet</a></p>
    	  <p><strong>Exemplo de código:</strong></p>
{% include api_dotnet.html %}
      </div>
      <div id="api-java">
    	  <p>Biblioteca: <a href="https://github.com/duduribeiro/cobregratis-java">https://github.com/duduribeiro/cobregratis-java</a></p>
    	  <p><strong>Exemplo de código:</strong></p>
{% include api_java.html %}
      </div>
    </div>
    <script>
    	$(function() {
    		$( "#languages" ).tabs();
    	});
    </script>
  </div>
  <div id="mobile">
  	<div class="section_title">
  		<h3>Aplicativos Mobile</h3>
  	</div>
    <a id="android" href="http://www.appbrain.com/app/cobre-gratis/br.com.bielsystems.cobregratis" target="_blank">Disponível para Android</a>
    <a id="iphone" href="http://itunes.apple.com/br/app/cobre-gratis/id409019904?mt=8" target="_blank">Disponível na iPhone App Store</a>
  	<div class="clear"></div>
  </div>
</div>

<script type="text/javascript">
mpq.push(["track", "recursos"]);
_kmq.push(['record', 'visited recursos']);
analytics.page('recursos');
</script>