<pre style='color:#000000;background:#ffffff;'><span style='color:#800000; font-weight:bold; '>import</span><span style='color:#004a43; '> br</span><span style='color:#808030; '>.</span><span style='color:#004a43; '>com</span><span style='color:#808030; '>.</span><span style='color:#004a43; '>cobregratis</span><span style='color:#808030; '>.</span><span style='color:#004a43; '>CobreGratis</span><span style='color:#800080; '>;</span>
<span style='color:#800000; font-weight:bold; '>import</span><span style='color:#004a43; '> br</span><span style='color:#808030; '>.</span><span style='color:#004a43; '>com</span><span style='color:#808030; '>.</span><span style='color:#004a43; '>cobregratis</span><span style='color:#808030; '>.</span><span style='color:#004a43; '>models</span><span style='color:#808030; '>.</span><span style='color:#004a43; '>BankBillet</span><span style='color:#800080; '>;</span>

CobreGratis cobreGratis = new CobreGratis("token-do-usuario", "api_name")<span style='color:#808030; '>;</span>

BankBillet billet = new BankBillet()<span style='color:#808030; '>;</span>
billet.setAmount(new BigDecimal(230.50))<span style='color:#808030; '>;</span>
Calendar calExpire = Calendar.getInstance()<span style='color:#808030; '>;</span>
calExpire.set(22, 7, 2015, 0, 0,0)<span style='color:#808030; '>;</span>
billet.setExpireAt(calExpire.getTime())<span style='color:#808030; '>;</span>
billet.setName("Rafael Lima")<span style='color:#808030; '>;</span>

billet = cobreGratis.save(billet)<span style='color:#808030; '>;</span>
</pre>