<pre style='color:#000000;background:#ffffff;'><span style='color:#800000; font-weight:bold; '>using</span> System<span style='color:#800080; '>;</span>
<span style='color:#800000; font-weight:bold; '>using</span> BielSystems<span style='color:#800080; '>;</span>
<span style='color:#800000; font-weight:bold; '>using</span> BielSystems<span style='color:#808030; '>.</span>Log<span style='color:#800080; '>;</span>

<span style='color:#800000; font-weight:bold; '>namespace</span> ConsoleSandBox
<span style='color:#800080; '>{</span>
    <span style='color:#800000; font-weight:bold; '>class</span> Program
    <span style='color:#800080; '>{</span>
        <span style='color:#800000; font-weight:bold; '>static</span> <span style='color:#800000; font-weight:bold; '>void</span> Main<span style='color:#808030; '>(</span><span style='color:#800000; font-weight:bold; '>string</span><span style='color:#808030; '>[</span><span style='color:#808030; '>]</span> args<span style='color:#808030; '>)</span>
        <span style='color:#800080; '>{</span>
            <span style='color:#696969; '>// Você pode passar um receptor de mensagens de log:</span>
            var myLogger <span style='color:#808030; '>=</span> <span style='color:#800000; font-weight:bold; '>new</span> MyConsoleLogger<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>

            <span style='color:#696969; '>// Inicialização do cliente:</span>
            var appIdentification <span style='color:#808030; '>=</span> <span style='color:#800000; '>"</span><span style='color:#0000e6; '>Client app name (e-mail)</span><span style='color:#800000; '>"</span><span style='color:#800080; '>;</span>
            var token <span style='color:#808030; '>=</span> <span style='color:#800000; '>"</span><span style='color:#0000e6; '>token-do-usuario</span><span style='color:#800000; '>"</span><span style='color:#800080; '>;</span>
            var CobreGratis <span style='color:#808030; '>=</span> <span style='color:#800000; font-weight:bold; '>new</span> CobreGratis<span style='color:#808030; '>(</span>appIdentification<span style='color:#808030; '>,</span> token<span style='color:#808030; '>,</span> myLogger<span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>

            <span style='color:#696969; '>// Você pode habilitar ou desabilitar o cache HTTP de requisições GET (habilitado por padrão):</span>
            CobreGratis<span style='color:#808030; '>.</span>EnableCache <span style='color:#808030; '>=</span> <span style='color:#800000; font-weight:bold; '>true</span><span style='color:#800080; '>;</span>

            <span style='color:#696969; '>// Você pode criar novos boletos com poucos ou muitos dados:</span>
            var bank_billet <span style='color:#808030; '>=</span> CobreGratis<span style='color:#808030; '>.</span>CreateBankBillet<span style='color:#808030; '>(</span><span style='color:#008c00; '>1</span><span style='color:#808030; '>,</span> <span style='color:#008000; '>230.</span>50M<span style='color:#808030; '>,</span> DateTime<span style='color:#808030; '>.</span>Now<span style='color:#808030; '>.</span>AddDays<span style='color:#808030; '>(</span><span style='color:#008c00; '>10</span><span style='color:#808030; '>)</span><span style='color:#808030; '>,</span> <span style='color:#800000; '>"</span><span style='color:#0000e6; '>Rafael Lima</span><span style='color:#800000; '>"</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
        <span style='color:#800080; '>}</span>
    <span style='color:#800080; '>}</span>

    <span style='color:#800000; font-weight:bold; '>public</span> <span style='color:#800000; font-weight:bold; '>class</span> MyConsoleLogger <span style='color:#808030; '>:</span> ILogger
    <span style='color:#800080; '>{</span>
        <span style='color:#800000; font-weight:bold; '>public</span> <span style='color:#800000; font-weight:bold; '>void</span> Log<span style='color:#808030; '>(</span><span style='color:#800000; font-weight:bold; '>string</span> message<span style='color:#808030; '>)</span>
        <span style='color:#800080; '>{</span>
            Console<span style='color:#808030; '>.</span>WriteLine<span style='color:#808030; '>(</span>message<span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
        <span style='color:#800080; '>}</span>
    <span style='color:#800080; '>}</span>
<span style='color:#800080; '>}</span>
</pre>