<pre style='color:#000000;background:#ffffff;'><span style='color:#696969; '>#!</span><span style='color:#007997; '>/usr/bin/perl</span>
<span style='color:#696969; '># -*- coding: utf-8 -*-</span>

<span style='color:#800000; font-weight:bold; '>package </span>main<span style='color:#800080; '>;</span>
<span style='color:#800000; font-weight:bold; '>use</span> <span style='color:#bb7977; font-weight:bold; '>Data</span><span style='color:#808030; '>::</span><span style='color:#bb7977; font-weight:bold; '>Dumper</span><span style='color:#800080; '>;</span>
<span style='color:#800000; font-weight:bold; '>use</span> <span style='color:#bb7977; font-weight:bold; '>CobreGratis</span><span style='color:#808030; '>::</span><span style='color:#bb7977; font-weight:bold; '>Bank_Billet</span><span style='color:#800080; '>;</span>

Bank_Billet<span style='color:#808030; '>-></span>user<span style='color:#808030; '>(</span><span style='color:#0000e6; '>"token-do-usuario"</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
Bank_Billet<span style='color:#808030; '>-></span>password<span style='color:#808030; '>(</span><span style='color:#0000e6; '>"X"</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>

<span style='color:#800000; font-weight:bold; '>my</span> $bank_billet <span style='color:#808030; '>=</span> Bank_Billet<span style='color:#808030; '>-></span>create<span style='color:#808030; '>(</span>
  <span style='color:#797997; '>amount </span><span style='color:#808030; '>=></span> <span style='color:#008c00; '>230.</span><span style='color:#008c00; '>50</span><span style='color:#808030; '>,</span>
  <span style='color:#797997; '>expire_at </span><span style='color:#808030; '>=></span> <span style='color:#0000e6; '>'2015-07-22'</span><span style='color:#808030; '>,</span>
  <span style='color:#797997; '>name </span><span style='color:#808030; '>=></span> <span style='color:#0000e6; '>'Rafael Lima'</span>
<span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
</pre>