<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>  
	<title>Redirecionando...</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="description" content="Cobre Grátis é um sistema web para geração de boleto bancário simples e fácil de usar. Com o Cobre Grátis é possível gerenciar suas cobranças por boleto bancário pela internet e pelo celular." /> 
  <meta name="keywords" content="boleto, bancario, boleto bancário, grátis, cobrança, cobre, gerador, emissor, gerar, emitir, geração, emissão, boleto online, boleto net, gerar boleto, emitir boleto, emissão de boleto, boleto cobrança, boleto asp, boleto php, gerador de boletos, boleto email, boletos bancários, boleto internet, boleto on line, sistema boleto" /> 
  <meta http-equiv="refresh" content="0;URL='{{ page.refresh_url }}'">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="apple-touch-icon-precomposed" href="/images/apple-touch-icon.png">
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-257015-17']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</head>
<body>
<img src="../images/loading.gif" style="position:absolute; top: 50%; left: 50%; margin-top: -10px; margin-left: -110px;">
</body>
</html>